.giao-dien-shop-ban {
  background-color: #ffffff;
  width: 100%;
  min-width: 856px;
  min-height: 1110px;
  position: relative;
}

.giao-dien-shop-ban .ca-hng {
  position: absolute;
  top: 66px;
  left: 224px;
  width: 55px;
  height: 12px;
}

.giao-dien-shop-ban .polygon {
  position: absolute;
  top: 68px;
  left: 173px;
  width: 16px;
  height: 11px;
}

.giao-dien-shop-ban .trang-ch {
  position: absolute;
  top: 66px;
  left: 86px;
  width: 60px;
  height: 12px;
}

.giao-dien-shop-ban .thi {
  position: absolute;
  top: 66px;
  left: 351px;
  width: 23px;
  height: 10px;
}

.giao-dien-shop-ban .img {
  position: absolute;
  top: 68px;
  left: calc(50.00% - 45px);
  width: 16px;
  height: 11px;
}

.giao-dien-shop-ban .sn-phm {
  position: absolute;
  top: 66px;
  left: 468px;
  width: 55px;
  height: 10px;
}

.giao-dien-shop-ban .tin-tc {
  position: absolute;
  top: 67px;
  left: 595px;
  width: 41px;
  height: 10px;
}

.giao-dien-shop-ban .polygon-2 {
  position: absolute;
  top: 68px;
  left: calc(50.00% + 72px);
  width: 16px;
  height: 11px;
}

.giao-dien-shop-ban .polygon-3 {
  position: absolute;
  top: 68px;
  left: calc(50.00% + 200px);
  width: 16px;
  height: 11px;
}

.giao-dien-shop-ban .polygon-4 {
  position: absolute;
  top: 68px;
  left: calc(50.00% + 309px);
  width: 16px;
  height: 11px;
}

.giao-dien-shop-ban .polygon-5 {
  position: absolute;
  top: 82px;
  left: calc(50.00% + 389px);
  width: 18px;
  height: 15px;
}

.giao-dien-shop-ban .frame {
  position: absolute;
  top: 417px;
  left: 69px;
  width: 19px;
  height: 32px;
}

.giao-dien-shop-ban .rectangle {
  position: absolute;
  top: 45px;
  left: 0;
  width: 856px;
  height: 58px;
}

.giao-dien-shop-ban .ca-hng-2 {
  position: absolute;
  top: 67px;
  left: 304px;
  width: 64px;
  height: 15px;
}

.giao-dien-shop-ban .trang-ch-2 {
  position: absolute;
  top: 66px;
  left: 165px;
  width: 67px;
  height: 15px;
}

.giao-dien-shop-ban .th-loi {
  position: absolute;
  top: 66px;
  left: 451px;
  width: 55px;
  height: 14px;
}

.giao-dien-shop-ban .sn-phm-2 {
  position: absolute;
  top: 69px;
  left: 595px;
  width: 64px;
  height: 12px;
}

.giao-dien-shop-ban .rectangle-2 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 856px;
  height: 46px;
}

.giao-dien-shop-ban .element {
  top: 47px;
  width: 131px;
  height: 56px;
  position: absolute;
  left: 0;
  aspect-ratio: 2.36;
}

.giao-dien-shop-ban .element-2 {
  position: absolute;
  top: 103px;
  left: 0;
  width: 856px;
  height: 484px;
  aspect-ratio: 1.77;
  object-fit: cover;
}

.giao-dien-shop-ban .analyze {
  position: absolute;
  top: 8px;
  left: 675px;
  width: 30px;
  height: 31px;
}

.giao-dien-shop-ban .rectangle-3 {
  position: absolute;
  top: 587px;
  left: 0;
  width: 856px;
  height: 77px;
}

.giao-dien-shop-ban .rectangle-4 {
  position: absolute;
  top: 601px;
  left: 297px;
  width: 278px;
  height: 55px;
}

.giao-dien-shop-ban .sn-phm-NI-BT {
  position: absolute;
  top: 606px;
  left: 324px;
  width: 216px;
  height: 29px;
}

.giao-dien-shop-ban .vector {
  position: absolute;
  top: 64px;
  left: 727px;
  width: 111px;
  height: 23px;
}

.giao-dien-shop-ban .search {
  position: absolute;
  top: 70px;
  left: 746px;
  width: 42px;
  height: 10px;
}

.giao-dien-shop-ban .search-2 {
  position: absolute;
  top: 67px;
  left: 806px;
  width: 20px;
  height: 20px;
}

.giao-dien-shop-ban .element-3 {
  position: absolute;
  top: 660px;
  left: 0;
  width: 201px;
  height: 200px;
  aspect-ratio: 1;
}

.giao-dien-shop-ban .element-4 {
  position: absolute;
  top: 660px;
  left: 217px;
  width: 202px;
  height: 200px;
  aspect-ratio: 1.01;
  object-fit: cover;
}

.giao-dien-shop-ban .element-5 {
  position: absolute;
  top: 660px;
  left: 653px;
  width: 203px;
  height: 200px;
  aspect-ratio: 1.01;
}

.giao-dien-shop-ban .element-6 {
  position: absolute;
  top: 660px;
  left: 435px;
  width: 201px;
  height: 200px;
  aspect-ratio: 1;
  object-fit: cover;
}

.giao-dien-shop-ban .rectangle-5 {
  position: absolute;
  top: 656px;
  left: 0;
  width: 856px;
  height: 4px;
}

.giao-dien-shop-ban .div {
  position: absolute;
  top: 660px;
  left: 201px;
  width: 16px;
  height: 200px;
  background-color: #cd2626;
}

.giao-dien-shop-ban .rectangle-6 {
  position: absolute;
  top: 660px;
  left: 201px;
  width: 16px;
  height: 257px;
  background-color: #cd2626;
}

.giao-dien-shop-ban .rectangle-7 {
  position: absolute;
  top: 660px;
  left: 419px;
  width: 16px;
  height: 257px;
}

.giao-dien-shop-ban .rectangle-8 {
  position: absolute;
  top: 660px;
  left: 636px;
  width: 17px;
  height: 257px;
}

.giao-dien-shop-ban .rectangle-9 {
  position: absolute;
  top: 860px;
  left: 0;
  width: 201px;
  height: 57px;
  background-color: #cd2626;
}

.giao-dien-shop-ban .UNER-MAX-PRO {
  position: absolute;
  top: 870px;
  left: 39px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.giao-dien-shop-ban .text-wrapper {
  color: #000000;
}

.giao-dien-shop-ban .span {
  color: #f7f0f0;
}

.giao-dien-shop-ban .text-wrapper-2 {
  color: #f8f3f3;
}

.giao-dien-shop-ban .text {
  position: absolute;
  top: 893px;
  left: 38px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.giao-dien-shop-ban .rectangle-10 {
  position: absolute;
  top: 860px;
  left: 217px;
  width: 202px;
  height: 57px;
}

.giao-dien-shop-ban .UNER-MAX-PRO-2 {
  position: absolute;
  top: 873px;
  left: 251px;
  width: 133px;
  height: 34px;
}

.giao-dien-shop-ban .rectangle-11 {
  position: absolute;
  top: 860px;
  left: 434px;
  width: 202px;
  height: 57px;
}

.giao-dien-shop-ban .UNER-SPEEDRUNNER {
  position: absolute;
  top: 872px;
  left: 454px;
  width: 164px;
  height: 34px;
}

.giao-dien-shop-ban .rectangle-12 {
  position: absolute;
  top: 860px;
  left: 653px;
  width: 203px;
  height: 57px;
}

.giao-dien-shop-ban .UNER-HTHU {
  position: absolute;
  top: 876px;
  left: 704px;
  width: 117px;
  height: 34px;
}

.giao-dien-shop-ban .rectangle-13 {
  position: absolute;
  top: 917px;
  left: 0;
  width: 856px;
  height: 110px;
}

.giao-dien-shop-ban .email {
  position: absolute;
  top: 980px;
  left: 283px;
  width: 325px;
  height: 16px;
}

.giao-dien-shop-ban .element-7 {
  top: 917px;
  width: 250px;
  height: 110px;
  position: absolute;
  left: 0;
  aspect-ratio: 2.36;
}

.giao-dien-shop-ban .a-ch {
  position: absolute;
  top: 928px;
  left: 257px;
  width: 584px;
  height: 17px;
}

.giao-dien-shop-ban .s-in-thoi {
  position: absolute;
  top: 955px;
  left: 258px;
  width: 207px;
  height: 16px;
}

.giao-dien-shop-ban .buy {
  position: absolute;
  top: 9px;
  left: 768px;
  width: 30px;
  height: 30px;
}
